/*Fonts*/

@font-face {
  font-family: "larsseit";
  src: url("../fonts/larsseit.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/larsseit.eot?#iefix") format("embedded-opentype"), url("../fonts/larsseit.woff") format("woff"), url("../fonts/larsseit.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 400;
}
@font-face {
  font-family: "larsseit";
  src: url("../fonts/larsseit-medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/larsseit-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/larsseit-medium.woff") format("woff"), url("../fonts/larsseit-medium.ttf") format("truetype");
  /* Safari, Android, iOS */
  font-weight: 500;
}

/*CSS Reset*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Styles*/

html {
  background: #2900FF;
}

body {
  line-height: 1;
  background: #ffffff;
  font-family: "larsseit", sans-serif;
  -webkit-font-smoothing: antialiased;
}

#content {
  width: 1020px;
  margin: 0 auto;
}

.hundred {
  height: 100vh;
}

/* contact me */
.hundred:nth-child(3){
  box-sizing: border-box;
}

/* Change fade in speed for background change here */
.changeColor {
  background-color: #2900FF;
  transition: 1.5s all;
}

.removeColor{
  background-color: #FFFFFF;
  transition: 1.5s all;
}

#logo {
padding-top: 60px;
}

h1 {
  font-size: 56px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0.8px;
}

h1 + h1 {
  margin-top: 32px;
}

h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 1px;
}

h2 + p {
  margin-top: 24px;
}

a{
  text-decoration: none!important;
}

a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}

p {
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0.6px;
  opacity: 0.8;
}

p a,
a p
 {
  font-weight: 500;
  opacity: 1;
}

p + p {
  margin-top: 20px;
}

.small p {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.2px;
}

.flex {
  display: flex;
}

.divider {
  width: 100%;
  height: 48px;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.2);
}

#logo p {
  margin-left: 20px;
  font-weight: 500;
}

#hero {
  margin: 240px 0 0 40px;
  width: 870px;
  position:relative;
  z-index: 999;
}

#scratch {
  position: relative;
  top: 42px;
  left: -2px;
  width: 582px;
  height: 4px;
  object-fit: contain;
  transform: rotate(1deg);
  border-radius: 1.5px;
  background-color: rgba(0, 0, 0, 0.8);
}

#greycircle {
  width: 800px;
  height: 800px;
  background: #F8F9F9;
  border-radius: 50%;
  border: 0;
  margin-left: 340px;
}

#hash {
  margin-top: -609px;
  margin-left: 606px;
}

#projectlinks {
  margin-top: 80px;
}

.projectlink {
  font-size: 80px;
  line-height: 64px;
  margin-bottom: 40px;
  color: #ffffff;
  -webkit-text-stroke: 1.4px #000000;
}

.projectlink:focus {
  color: black;
  -webkit-text-stroke: 0px;
}

.projectlink:hover {
  color: #2900FF;
  -webkit-text-stroke: 0px;
}

.contactme {
  margin: 96px 0 0 230px;
  color: #ffffff;
}

.contentcopy {
  margin-left: 40px;
}

.textcarousel {
  padding-top: 120px;
  transform: rotate(1deg);
  color: #191919;
  opacity: 0.36;
}

.socials {
  margin-top: 40px;
}

.socials p {
  margin: 0 20px;
}

.socials p:first-of-type {
  margin-left: 0;
}

.contactbtn {
  padding: 8px 20px;
  background: #3A40EA;
  border-radius: 8px;
  display: inline-block;
  margin-top: 48px;
}
